# exclude everything except .py and .ipynb

# Ignore everything
*

# But not these files
!/.gitignore
!*.py
!*.ipynb
!*.yaml
!*.qrc
!*.qss
!**/assets/*
!**/PicEdit/config.ini

# even if they are in subdirectoreis
!*/
